button {
  width: auto;
  min-width: 7rem;
  color: #030303;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: #030303aa -1px 2px 14px;
  border: none;
  outline: none;
  margin: 0.25rem;
  padding: 0.75rem 2rem;
  border-radius: 2px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 250ms ease-in;
  filter: brightness(1);
  cursor: pointer;
}
button:hover {
  filter: brightness(1.2);
  transition: filter 200ms ease;
}
button::selection {
  background: none;
}

.icon-button {
  justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
  button {
    cursor: default;
  }
}
