button {
  border: none;
  outline: none;
  display: flex;
  font-weight: 600;
  padding: 0.75rem;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease;
}

.rotation {
  animation: rotation 1.2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}
