*::selection {
  background: none;
}

button {
  width: auto;
  border: none;
  outline: none;
  display: flex;
  min-width: 7rem;
  margin: 0.25rem;
  cursor: pointer;
  font-weight: 600;
  color: #030303;
  text-align: center;
  border-radius: 2px;
  letter-spacing: 1px;
  align-items: center;
  padding: 0.75rem 2rem;
  filter: brightness(1);
  justify-content: center;
  transition: all 250ms ease-in;
  box-shadow: #030303aa -1px 2px 14px;
}
button:hover {
  filter: brightness(1.2);
  transition: filter 200ms ease;
}
button .icon-button {
  justify-content: space-evenly;
}

// Alert dismiss button
.dismiss-button-wrapper {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dismiss-button {
  width: 3rem;
  height: auto;
  margin: auto 0;
  display: flex;
  align-items: center;
  border-radius: 500px;
  justify-content: center;
  filter: brightness(0.8), opacity(0.8);
  background: #030303;
}
.dismiss-button:hover {
  filter: brightness(1.2);
  transition: filter 200ms ease;
}
.dismiss-button svg {
  width: 2rem;
  height: 2rem;
  margin: auto;
  color: #030303;
}

.alert {
  top: 0;
  margin: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0.5rem;
  position: relative;
  transition: all 300ms ease;
  box-shadow: #030303 2px 2px 20px;
  background: linear-gradient(15deg, hsl(119, 100%, 76%), hsl(151, 80%, 46%));
}
.alert-text {
  width: 92%;
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: flex-start;
}
.alert-text h5 {
  margin: auto;
  padding: 1rem;
  text-align: left;
  font-size: 110%;
  font-weight: 500;
  line-height: 1.25rem;
  color: #030303;
}

@media screen and (max-width: 960px) {
  button {
    cursor: default;
  }
}
